<title>Manage Books</title>
{% extends 'parent.html'%}

{% block nav_manage_books %} class = "active" {% endblock %}

{% block content %}
    <br>
    <div class="user-dashboard">
        <div class="row">
            <div class="col-md-12 col-sm-7 col-xs-12 gutter">

                <div class="sales report">
                    <h2>Manage Books</h2>
                    <div class="btn-group col-md-4">
                        <ul class="list-inline header-top my-2 my-lg-0 ml-auto">
                            <li class="hidden-xs" ><a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add_book"><i class="fa fa-download" aria-hidden="true" style="color: white;"></i> Import Books</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="add_book" class="modal fade" role="dialog">
        <div class="modal-dialog">
            
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Import Books</h4>
                </div>
                <form method="POST" action="" name="import_books">
                    <div class="modal-body">
                        <input type="number" min="1" placeholder="Enter No. of Records to import" name="no_of_records">
                        <p>Import Using</p>
                        <input type="text" placeholder="Book Title" name="title">
                        <input type="number" min="1" placeholder="No. of Pages" name="num_pages">
                        <input type="text" placeholder="Book Authors" name="authors">
                        <input type="text" placeholder="ISBN" name="isbn">
                        <input type="text" placeholder="Publisher" name="publisher">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="cancel" data-dismiss="modal">Close</button>
                        <button type="submit" class="add-project">Import</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
            
{% endblock %}