<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- custom stylesheet -->
        <link href="{{ url_for('static', filename='dashboard/main.css') }}" rel="stylesheet">
        
        <title></title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color:#0e1a35;">
            <a class="navbar-brand" href="{{url_for('main')}}">Library Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            
                {% block searchbox %}
                
                {% endblock %}
            
            </div>
        </nav>

        <body class="home">
            <div class="container-fluid display-table">
                <div class="row display-table-row">
                    <div class="col-md-2 col-sm-1 hidden-xs display-table-cell" id="navigation">                    
                        <div class="navi">
                            <ul>
                                <li {% block nav_home %} {% endblock %}><a href="{{url_for('main')}}"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                                <li {% block nav_manage_books %} {% endblock %}><a href="{{url_for('manage_books')}}"><i class="fa fa-edit" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Manage Books</span></a></li>
                                <li {% block nav_manage_members %} {% endblock %}><a href="{{url_for('manage_members')}}"><i class="fa fa-edit" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Manage Members</span></a></li>
                                <li {% block nav_issue_books %} {% endblock %}><a href="{{url_for('issue_books_page_load')}}"><i class="fa fa-book" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Issue Books</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-10 col-sm-11 display-table-cell v-align">
                        <div class="row">
                            <header>
                                <div class="col-md-7">
                                    <nav class="navbar-default pull-left">
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>
                                    </nav>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="header-rightside">
                                        <ul class="list-inline header-top my-2 my-lg-0 ml-auto">
                                            <li class="hidden-xs"> <h3>Welcome</h3> </li>
                                            <li class="hidden-xs" style="float: right;"><a href="#" class="btn btn-danger btn-md">Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </header>
                        </div>

                        {% block content %}
                        {% endblock %}

                    </div>
                </div>
            </div>

            <script> 
                function printDiv() 
                { 
                    var divContents = document.getElementById("printdivision").innerHTML; 
                    var a = window.open('', '', 'height=1080, width=1080'); 
                    a.document.write('<html>'); 
                    a.document.write('<body >');
                    a.document.write(divContents); 
                    a.document.write('</body></html>'); 
                    a.document.close(); 
                    a.print(); 
                } 
            
                function fnExcelReport()
                {
                    var tab_text="<table border='2px'><tr bgcolor='#007bff'>";
                    var textRange; var j=0;
                    tab = document.getElementById('report_table');
            
                    for(j = 0 ; j < tab.rows.length ; j++) 
                    {     
                        tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
                    }
            
                    tab_text=tab_text+"</table>";
                    tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
                    tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
            
                    var ua = window.navigator.userAgent;
                    var msie = ua.indexOf("MSIE "); 
            
                    sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  
            
                    return (sa);
                }

                function search_books_function() 
                {
                    var input, filter, table, tr, td, i, txtValue, txtValue2;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("books_table");
                    tr = table.getElementsByTagName("tr");

                    // Loop through all table rows, and hide those who don't match the search query
                    for (i = 0; i < tr.length; i++) 
                    {
                        td = tr[i].getElementsByTagName("td")[1];
                        td2 = tr[i].getElementsByTagName("td")[3];
                        if (td || td2) 
                        {
                            txtValue = td.textContent || td.innerText;
                            txtValue2 = td2.textContent || td2.innerText;
                            
                            if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) >-1) 
                            {
                                tr[i].style.display = "";
                            } 
                            else 
                            {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }

                function search_member_function() 
                {
                    var input, filter, table, tr, td, i, txtValue, txtValue2, txtValue3;
                    input = document.getElementById("myInput2");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("members_table");
                    tr = table.getElementsByTagName("tr");

                    // Loop through all table rows, and hide those who don't match the search query
                    for (i = 0; i < tr.length; i++) 
                    {
                        td = tr[i].getElementsByTagName("td")[1];
                        td2 = tr[i].getElementsByTagName("td")[3];
                        td3 = tr[i].getElementsByTagName("td")[4];
                        
                        if (td || td2 || td3) 
                        {
                            txtValue = td.textContent || td.innerText;
                            txtValue2 = td2.textContent || td2.innerText;
                            txtValue3 = td3.textContent || td3.innerText;

                            if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) > -1 || txtValue3.toUpperCase().indexOf(filter) > -1) 
                            {
                                tr[i].style.display = "";
                            } 
                            else 
                            {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }

                function search_issued_books_function() 
                {
                    var input, filter, table, tr, td, i, txtValue, txtValue2;
                    input = document.getElementById("myInput3");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("issued_books");
                    tr = table.getElementsByTagName("tr");

                    // Loop through all table rows, and hide those who don't match the search query
                    for (i = 0; i < tr.length; i++) 
                    {
                        td = tr[i].getElementsByTagName("td")[1];
                        td2 = tr[i].getElementsByTagName("td")[2];
                        if (td || td2) 
                        {
                            txtValue = td.textContent || td.innerText;
                            txtValue2 = td2.textContent || td2.innerText;

                            if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) > -1) 
                            {
                                tr[i].style.display = "";
                            } 
                            else 
                            {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            </script>
    </body>
</html>